{% extends 'layout.html.twig' %}

{% block content %}
    <div class="d-flex flex-row justify-content-center">
        <div class="card mt-5 w-50">
            <h5 class="card-header">
                {{ page.title }}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    {{ page.content }}
                </p>
                {% if parameters is not empty %}
                    <div style="margin-bottom: 10px;">Additional parameters:</div>
                    {{ include('common/_parametersTable.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
